.add__form {
  border: 2px solid #2a9d8f;
  width: 30vw;
  margin: auto;
  margin-top: 3rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 2rem;
  font-size: 1.75rem;
  border-radius: 5px;
}
.add__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  grid-gap: 2rem;
  width: 80%;
}
.add__submit,
.add__submit:hover {
  margin: 1rem;
  background-color: #2a9d8f;
  color: white;
  text-decoration: none;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
}
.add__submit:hover {
  background-color: #228176;
}
