.header {
  margin: 2rem;
  padding: 2rem;
  font-size: 1.75rem;
  border-bottom: 1px solid #264653;
}
.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.header__buttons {
  padding: 0.5rem 0.8rem;
  background-color: #264653;
  border-radius: 5px;
}
.header__buttons a {
  color: white;
  text-decoration: none;
}
.header__buttons:hover {
  background-color: #2a9d8f;
}
