.user__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  grid-gap: 1rem;
  border-radius: 50px;
  width: 60vw;
  height: 70vh;
  padding: 5rem;
  margin: auto;
  margin-top: 3rem;
  background-color: #2a9d8f;
}
.user__content {
  height: 80%;
  width: 60%;
  border-radius: 50px;
  background: #2a9d8f;
  box-shadow: 20px 20px 60px #24857a, -20px -20px 60px #30b5a4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.75rem;
  color: white;
  padding: 1rem;
}
.user__input input {
  border-radius: 5px;
  outline: none;
  border: none;
  color: black;
  padding: 0.5rem;
}
.user__submit,
.user__submit:hover {
  text-decoration: none;
  color: black;
  background: white;
  border-radius: 5px;
  padding: 0.5rem;
}
.user__submit:hover {
  background-color: lightgray;
}
.user__subheading {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.user__input {
  display: flex;
  flex-direction: row;
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.user__content ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  overflow: auto;
}

.user__item {
  border: 1px solid white;
  list-style: none;
  padding: 0.8rem;
  width: 60%;
  margin: auto;
  margin: 0.5rem;
}
